    <div class="container-user">
        <div class="logo">
          <%= image_tag("authorship-logo.png", :alt => "Authorship") %>
          <div class="get-an-account">Get an Authorship.me account</div>
        </div>
  </div>
  
  <div class="container-user">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <input type="hidden" name="referer" value="<%=request.env['HTTP_REFERER'] %>">

  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%- end -%>  

        <div class="form-control">
          <input type="text" placeholder="Email" name="email" data-validation="email">
        </div>

        <div class="form-control">
          <input type="password" placeholder="Password" name="password" data-validation="required">
        </div>

        <div class="form-control">
          <input type="password" placeholder="Please confirm your password" name="password_confirmation" data-validation="required">
        </div>

        <div class="call-to-action">
          <button type="submit">Sign up</button>
        </div>

        <div class="existing-user">
          Do you have an Authorship account? 
          <%= link_to("Login here", "/users/sign_in", :method => :get) %>
        </div>
        
	<% end %>
    </div>
    </div>    

    <%= javascript_include_tag "application" %>

    <script>
      $(document).ready(function(){
        $.validate({
           lang: 'en'
         });
      });
    </script>

